@{
    ViewBag.Title = "Join new classroom";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_StudentLayout.cshtml";
}
<style type="text/css">
    .classroom-assignemnts
    {
        width:100%;
        border:10px;
background: rgb(58,180,60);
background: linear-gradient(90deg, rgba(58,180,60,1) 26%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
        padding:3px;
        margin-top:10px;
        margin-bottom:10px;
        color:#f8f9fccc !important;
        border-radius: 8px; 
    }
    .classroom-assignemnts-submitted
    {
        width:100%;
        border:10px;
background: rgb(58,180,60);
background: linear-gradient(130deg, rgba(58,180,60,1) 26%, rgba(226,210,210,1) 100%, rgba(252,176,69,1) 100%);
        padding:3px;
        margin-top:10px;
        margin-bottom:10px;
        color:#f8f9fccc !important;
        border-radius: 8px; 
    }
</style>
<div class="container-fluid " id="addNewCourseContainer">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Join new classroom</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" onclick="callHome()">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Join new classroom</li>
                @*<li class="breadcrumb-item active" >Data</li>*@
            </ol>
        </nav>
    </div>
    <div class="input-group pl-lg-5 pr-lg-5">
        <input type="text" class="form-control" id="classroomSearchBox" placeholder="Search for classrooms..." aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-primary" onclick="searchForClassrooms()" type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
    <hr class="ml-5 mr-5" />
    <div id="spinner" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div  id="allClassroomContainer">

    </div>
    <div class="alert alert-danger" id="footerAllClassroom" style="display:none">
        No more classrooms founds
    </div>
    <button class="btn btn-block mh-100 btn-outline-primary" onclick="searchForClassrooms()">view more</button>
    
   
    

</div>
<div class="modal fade" id="requestAssignemntAccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAndUpdateIndexTopicHeader">Please enter access code to continue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetAddTopicModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="needs-validation" action="RequestClassroomAccess" novalidate>
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Assignment Id</label>
                        <input type="text" name="assignment_id" class="form-control" id="assignmentModalId" disabled>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label" id="bc-topicNameLabel">Access code</label>
                        <input type="text" name="assignment_access_code" class="form-control" id="assignmentModalAccessCode" placeholder="Enter access code">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-outline-primary">Submit</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetAddTopicModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="modalIndexCreatedTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="card border-danger modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalIndexCreatedTitle">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-danger">
                <h3 id="infoMessageFail">Course could not be joined</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-outline-primary mr-lg-5 ml-lg-5" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade top" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-top" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header ">
                <h4 class="modal-title w-100 " id="myModalLabel"> <b>Course Details:</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">Name:</dt>
                    <dd class="col-sm-9" id="classroomName"></dd>
                    <dt class="col-sm-3">Description:</dt>
                    <dd class="col-sm-9" id="classroomDescription"></dd>
                    <dt class="col-sm-3">Created on:</dt>
                    <dd class="col-sm-9" id="createdOn">
                    </dd>
                    <dt class="col-sm-3">Instructor:</dt>
                    <dd class="col-sm-9" id="instructorName"></dd>
                    <dt class="col-sm-3">No od enrollments:</dt>
                    <dd class="col-sm-9" id="noOfStudentsJoined"></dd>
                </dl>
                <ul class="list-group z-depth-0" id="indexContainer"></ul>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal" onclick="requestStartAssignment()">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<script type="text/javascript">
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                searchForClassrooms();
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form)
                {
                    form.addEventListener('submit', function (event)
                    {
                        if (form.checkValidity() === false ) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                            form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
        function initiliazeJoinNewClassroom()
        {
            lastClassroomIdFetched = 0;
            searchForClassrooms();
        }
        onpageshow = initiliazeJoinNewClassroom();
        function requestStartAssignment() {
            $.ajax({
                type: "POST",
                data: JSON.stringify(_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/api/v1/instructor/contact",
                success: function (data) {
                    if (data != null && data.response_code == 1) {
                        $("#successResponseMessage").text("response received. we will contact you soon");
                        $("#successDelete").modal('show');
                    }
                    else {
                        $("#errorAlertMessageBody").text("Form submission failed. Please try again");
                        $("#errorAlertHeader").modal('show');
                    }
                }
            });
        }
</script>
<script>
    (function () {
        'use strict';
        var input = document.getElementById("classroomSearchBox");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                searchForClassrooms();
            }
        });
        $("#spinner").remove();
    })();
    var lastClassroomIdFetched=0;
    function searchForClassrooms() {
        var queryString = $("#classroomSearchBox").val();
        if (queryString == null)
        {
            queryString = "";
        }
        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/SearchClassroom?LastClassroomId=".concat(lastClassroomIdFetched).
                concat("&SearchString=").concat(queryString),
            success: function (data) {
                if (data != null && data.response_code == 1) {
                    var row = '';
                    var classrooms = data.classrooms;
                    if (classrooms != null && classrooms.length > 0) {
                        for (var i = 0; i < classrooms.length; i++) {
                            lastClassroomIdFetched = classrooms[i].classroom_id;
                            if (classrooms[i].is_joined == false) {
                                row = '<div class="card shadow classroom-assignemnts p-2">' +
                           '<h4 class="text-white font-weight-bold p2"><span ><i class="fa fa-bookmark"></i></span> ' + classrooms[i].classroom_name + '</h4>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-calendar"></i></span> Created On: ' + classrooms[i].classroom_creation_date + '</h6>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-users"></i></span> No Of students joined: ' + classrooms[i].no_of_enrollments + '</h6>';
                                row += '<h6 class="ml-4"><span class="badge badge-pill badge-light ml-10 h3" id="successbadge">Joining Fee: ' + classrooms[i].classroom_joining_fee + ' </span><a class="ml-2 btn btn-sm btn-outline-light" href="PreviewClassroom?ClassroomId=' + classrooms[i].classroom_id + '">Join Now</a></h6>';
                            }
                            else {
                                row = '<div class="card shadow classroom-assignemnts-submitted p-2">' +
                           '<h4 class="text-white font-weight-bold p2"><span ><i class="fa fa-check-circle"></i></span> ' + classrooms[i].classroom_name + '</h4>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-calendar"></i></span> Added On: ' + classrooms[i].classroom_creation_date + '</h6>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-users"></i></span> No Of students joined: ' + classrooms[i].no_of_enrollments + '</h6>';
                                row += '<h6 class="ml-4"><span class="badge badge-pill badge-light ml-10 h3" id="successbadge">Status: Joined</span><a class="btn btn-sm btn-outline-light ml-2" href="ViewClassroom?classroom_id=' + classrooms[i].classroom_id + '">Visit</a></h6>';
                            }
                            row += '</div>';
                            $("#allClassroomContainer").append(row);
                        }

                    } else {
                        $("#footerAllClassroom").show();
                    }
                    
                }

                $("#spinnerAllClassroom").remove();
            }
        });
    }
</script>
