@{
    ViewBag.Title = "My Courses";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_StudentLayout.cshtml";
}
<style type="text/css">
    .my-icon {
    
}
</style>
<div class="container-fluid " id="addNewCourseContainer">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">My Courses</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" onclick="callHome()">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Courses</li>
                @*<li class="breadcrumb-item active" >Data</li>*@
            </ol>
        </nav>
    </div>
    <div class="m-lg-5"> 
        <div class="input-group" id="search-help-section">
            <input type="text" class="form-control" id="courseSearchBox" placeholder="serach for course...">
            <div class="input-group-append">
                <button class="btn btn-primary input-group-append" onclick="searchForCourse()" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
      
    </div>
    <div class="container-fluid" id="extra-course-search" style="display:none;">
        <div class="text-center container-fluid" id="search-help-section" >
          
            <h1 class="text-center center">Search for courses result</h1>
            <div class="alert alert-danger" role="alert">
                No courses found
            </div>
            <img class="" src="https://img.icons8.com/cute-clipart/64/000000/nothing-found.png" />
        </div>
    </div>
    <hr class="ml-5 mr-5" />
    <div class="row" id="coursesContainer">
        
    </div>

</div>
<div class="modal fade top" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-top" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header ">
                <h4 class="modal-title w-100 " id="myModalLabel"> <b>Course Details:</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">Name:</dt>
                    <dd class="col-sm-9" id="courseName"></dd>
                    <dt class="col-sm-3">Description:</dt>
                    <dd class="col-sm-9" id="courseDescription"></dd>
                    <dt class="col-sm-3">Created on:</dt>
                    <dd class="col-sm-9" id="insertDate">
                    </dd>
                    <dt class="col-sm-3">Assignments:</dt>
                    <dd class="col-sm-9" id="assignments"></dd>
                    <dt class="col-sm-3">Tests:</dt>
                    <dd class="col-sm-9" id="tests"></dd>
                    <dt class="col-sm-3">Indexes:</dt>
                    <dd class="col-sm-9" id="indexes"></dd>
                </dl>
                <ul class="list-group z-depth-0" id="indexContainer"></ul>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<script>
    (function () {
        'use strict';
        var input = document.getElementById("courseSearchBox");
        input.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                searchForCourse();
            }
        });
        onpageshow = searchForCourse();
    })();
   
    function searchForCourse() {
        var coursesContainer = $("#coursesContainer");
        debugger
        var _data =
            {
                "key": $("#courseSearchBox").val()
               
            }
        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            data: JSON.stringify(_data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/GetJoinedCourses",
            success: function (data) {
                debugger;
                if (data != null && data.response_code == 1 && data.course_details!=null&&data.course_details.length>0) {
                    var courses = data.course_details;
                    
                    $("#extra-course-search").hide();
                    var rows='';
                    for (var i = 0; i < courses.length; i++) {
                        if (courses[i].course_name.length > 18) {
                            courses[i].course_name = courses[i].course_name.substring(0, 15) + "...";
                        }
                        if (courses[i].course_description.length > 22) {
                            courses[i].course_description = courses[i].course_description.substring(0, 20) + "...";
                        }
                        rows+= ('<div class="col-xl-3 col-md-6 mb-4">'
                 + '<div class="card shadow border-left-success  ml-2 mr-2 mb-2">'
                     + '<div class="card-body text-center">'
                         + '<h4 class="card-title font-weight-bold"><a>' + courses[i].course_name + '</a></h4>'
                         + '<p class="card-text mb-1">' + courses[i].course_description + '</p>'
                          + '<h6 class="card-title font-weight-light">Joined on:' + courses[i].join_date + '</h6>'
                         + ' <div class="col mb-2">'
                         +'<div class="col-auto">'
                          + '<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">' + courses[i].course_progress + '%</div>'
                        +'</div>'
                                    +'<div class="progress progress-sm mr-2">'
                                        +'<div class="progress-bar bg-info" role="progressbar" style="width: '+courses[i].course_progress+'%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>'
                                    + '</div>'
                                   
                                +'</div>'
                         + '<ul class="list-unstyled list-inline rating mb-0">'
                            + '<li class="list-inline-item mr-2"><button  class="btn btn-outline-primary" onclick="getCourseDetails(' + courses[i].course_id + ')">Details</button></li>'
                            + '<li class="list-inline-item mr-0"><a  class="btn btn-primary" href="LearnCourse?id=' + courses[i].course_id + '">Start learning</a></li>'
                        + '</ul>'
                     + '</div>'
                 + '</div>'
             + '</div>');

                    }
                    coursesContainer.html(rows);
                }
                else {
                    coursesContainer.html("");
                    $("#extra-course-search").show();
                }
            }
        });
    }

    function getCourseDetails(Id) {
        debugger;
        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/instructor/getcoursedetails?CourseId=".concat(Id),
            success: function (data) {
                debugger;
                if (data != null && data.response_code == 1) {
                    $("#courseDescription").text(data.course_description);
                    $("#courseName").text(data.course_name);
                    $("#insertDate").text(data.course_creation_date);
                    $("#indexes").text(data.indexes.length);
                    $('#fullHeightModalRight').modal('show');

                    var assignments = 0;
                    var tests = 0;
                    $("#indexContainer").empty();
                    if (data.indexes.length > 0) {
                        $("#indexContainer").append(
                           '<li class="list-group-item justify-content-between">'
                               + '<b class="mr-2">Indexes:  </b>'
                               + '<span class="badge badge-primary badge-pill">Topics</span>'
                               + '<span class="badge badge-primary badge-pill">Assignments</span>'
                               + '<span class="badge badge-primary badge-pill">Tests</span>'

                           + '</li>'
                           );
                    }

                    for (var i = 0; i < data.indexes.length; i++) {
                        var x = 0; y = 0;
                        if (data.indexes[i].assignment_name != null && data.indexes[i].assignment_name != "") {
                            x++;
                            assignments++;
                        }
                        if (data.indexes[i].test_name != null && data.indexes[i].test_name != "") {
                            y++;
                            tests++;
                        }

                        $("#indexContainer").append(
                            '<li class="list-group-item justify-content-between">'
                                + data.indexes[i].index_name
                                + '  <span class="badge badge-primary badge-pill">' + data.indexes[i].topic_count + '</span>'
                                + '<span class="badge badge-primary badge-pill">' + x + '</span>'
                                + '<span class="badge badge-primary badge-pill">' + y + '</span>'
                            + '</li>'
                            );
                    }
                    $("#tests").text(tests);
                    $("#assignments").text(assignments);
                }
                else {
                    $("#footer").show();
                }
            }
        });
    }
    function callLearning(id) {
        $.ajax({
           url: "LearnCourse?id=".concat(id),
            type: 'GET',
            success: function (data) {
                $(document).html(data);
                window.history.pushState({ "html": data, "pageTitle": "EditAccount" }, "", "LearnCourse?id=".concat(id));
            }
        });
    }

</script>
